<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form class="loginformulario">
        <h1 class="title">login</h1>
        <label>
          <i class="fa-solid fa-user"></i>
          <input type='text' placeholder="usuario" id='username' onChange={cambio} name='username' ></input>
        </label>
        <label>
          <i class="fa-solid fa-lock"></i>
          <input type='password' placeholder="contraseña" id='password'></input>
        </label>
        <a href="#" className='link1'>¿No tienes una cuenta?</a>
        <a href="#" className='link2'>¿olvidaste la contraseña?</a>
    
        <button id='button'>login</button>
    
        </form> 
    
</body>
</html>